Necessários para rodar o site
MONGODB_URI = stringConexao
BASE_URL = urlDoSite
SECRET_KEY = sua_chave_secreta
EXPIRES_IN = 7 days

Usados para teste e documentação:
UNEXPERIDED_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjp7ImlkIjoiNjg0ZjIwN2FkNGQwZTNlOTRkNDdmMjcxIiwibml2ZWwiOjJ9LCJpYXQiOjE3NTAwMTY1MDV9.ng7AA5ZSu3p5nQnNfBvE7sYtHTtBwtgRywChaTKRso0
EXPIRED_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjp7ImlkIjoiNjg0ZjIwN2FkNGQwZTNlOTRkNDdmMjcxIiwibml2ZWwiOjJ9LCJpYXQiOjE3NTAwMTY1MzgsImV4cCI6MTc1MDAxNjUzOX0.QpnbqqkoDRr-fGtg6CbpYz5Xuw741DA8jJoZEKiHXUo
SENHA_USUARIO = Gueff12*